<<<<<<< HEAD
/* Custom stylesheet */

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}
=======
/* Custom stylesheet */

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}
>>>>>>> d0ddd9317cd99ea56f15f82b4ced42278d4d5b65
